<h1>Products::Amazon#create</h1>
<div>
  <%= image_tag @product.image_url %>
  <ul>
    <li>
      id : <%= @product.id %>
    </li>
    <li>
      name : <%= @product.name %>
    </li>
    <li>
      asin : <%= @product.asin %>
    </li>
  </ul>
</div>

<h2>パーツ情報を登録してください</h2>

<%= form_tag('/packages', :method => 'POST') do %>
  <div id="contents_form_template" class="package_form template">
    <div class="row">
      <div class="small-3 columns">
        <%= collection_select nil, nil, @colors, :id, :name %>
      </div>
      <div class="small-3 columns">
        <%= collection_select nil, nil, @shapes, :id, :name %>
      </div>
      <div class="small-3 columns">
        <input class="text input xnarrow" placeholder="0" type="number" min=0>
      </div>
      <div class="small-3 columns operation">
        <a href="javascript:void(0)" class="button plus">+</a>
        <a href="javascript:void(0)" class="button minus">-</a>
      </div>
    </div>
  </div>

  <div><%= submit_tag t("view.register") %></div>
<% end %>