<h1>Products::Amazon#create</h1>
<div>
  <%= image_tag @product.image_url %>
  <ul>
    <li>
      id : <%= @product.id %>
    </li>
    <li>
      name : <%= @product.name %>
    </li>
    <li>
      asin : <%= @product.asin %>
    </li>
  </ul>
</div>

<h2>パーツ情報を登録してください</h2>

<%= form_tag('/packages', :method => 'POST') do |f| %>
<div id="contents_form_template" class="package_form template">
  <div class="row">
    <div class="small-3 columns">
      <%= collection_select :color, nil,  @colors, :id, :name, {}, { :class =>'color' } %>
    </div>
    <div class="small-3 columns">
      <%= collection_select :shape, nil,  @shapes, :id, :name, {}, { :class =>'shape' } %>
    </div>
    <div class="small-3 columns">
      <input class="text input xnarrow" placeholder="0" type="number" min=0>
    </div>
    <div class="small-3 columns operation">
      <a class="button plus">
        +
      </a>
      <a class="button minus">
        -
      </a>
    </div>
  </div>
</div>
<div id="package_form_container" class="package_form">
  <div class="parts_form_container">
  </div>
  <div class="parts_form_operatior">
    <div class="row">
      <div class="small-9 columns">&nbsp;</div>
      <div class="small-3 columns operation">
        <a class="button plus">
         +
        </a>
      </div>
    <div class="row">
      <a class="button success radius">
        <%= t("view.register") %>
      </a>
    </div>
  </div>
<% end %>