<h1>Products::Amazon#create</h1>
<div>
  <%= image_tag @product.image_url %>
  <ul>
    <li>
      id : <%= @product.id %>
    </li>
    <li>
      name : <%= @product.name %>
    </li>
    <li>
      asin : <%= @product.asin %>
    </li>
  </ul>
</div>

<h2>パーツ情報を登録してください</h2>

<%= form_tag('/packages', :method => 'POST', :class => "field") do %>
  <div id="contents_form_template">
    <div class="picker">
      <%= collection_select nil, nil, @colors, :id, :name %>
    </div>
    <div class="picker">
      <%= collection_select nil, nil, @shapes, :id, :name %>
    </div>
    <div class="field">
      <input class="text input xnarrow" placeholder="0" type="number" min=0>
    </div>
  </div>

  <div><%= submit_tag t("view.register") %></div>
<% end %>