<h1>Nanoblock Products</h1>
<div>
  <% if @res.present? %>
    <ul style="list-style: none;">
      <% @res.items.each do |i| %>
        <li style="clear: both;">
          <div style="width: 150px;float: left;text-align:center;">
            <%= link_to i.get('DetailPageURL') do %>
              <%= image_tag i.get('SmallImage/URL'), {:style => 'border: none;'} %>
            <% end %>
          </div>
          <div style="width: 150px; float: left;"><%= i.get('ASIN') %></div>
          <div style="width: 150px; float: left;"><%= i.get('ItemAttributes/Title') %>
          <div>
            
            <%= link_to t('view.register') , {:controller => 'products/amazon', :action => 'create',
            :asin => i.get('ASIN') } %>
          </div>
          </div>
        </li>
      <% end %> 
    </ul>
  <% end %>
</div>