<%= form_for(@shape) do |f| %>
  <% if @shape.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shape.errors.count, "error") %> prohibited this shape from being saved:</h2>

      <ul>
      <% @shape.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :model_name %><br>
    <%= f.text_field :model_name %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.text_field :image %>
  </div>
  <div class="field">
    <%= f.label :long_side_size %><br>
    <%= f.number_field :long_side_size %>
  </div>
  <div class="field">
    <%= f.label :short_side_size %><br>
    <%= f.number_field :short_side_size %>
  </div>
  <div class="field">
    <%= f.label :long_side_dot_num %><br>
    <%= f.text_field :long_side_dot_num %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
