<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @shape.name %>
</p>

<p>
  <strong>Model name:</strong>
  <%= @shape.model_name %>
</p>

<p>
  <strong>Image:</strong>
  <%= @shape.image %>
</p>

<p>
  <strong>Long side size:</strong>
  <%= @shape.long_side_size %>
</p>

<p>
  <strong>Short side size:</strong>
  <%= @shape.short_side_size %>
</p>

<p>
  <strong>Long side dot num:</strong>
  <%= @shape.long_side_dot_num %>
</p>

<%= link_to 'Edit', edit_shape_path(@shape) %> |
<%= link_to 'Back', shapes_path %>
